.content {
  background: #F5F5F5;
  overflow-x: hidden;
  padding: 21px 26px;
  position: relative;
  margin-right: -20px;
  padding: 20px;
  flex: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.copyright{
  margin: 0;
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  color: #A0A0A0;
  background: #f5f5f5;
  text-align: center;
}
