body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:global(.shadow-1px) {
  box-shadow: 1px 1px 2px 1px rgba(32,37,46,0.1);
}
:global(.card ){
  padding: 8px 30px 22px;
  background: #fff;
}

:global(.card>.card-title) {
  font-size: 12px;
  line-height: 44px;
}
:global(.card>.card-body) {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #1756a5;
}
:global(.tableStripe:nth-child(even)) {
  background: #f5f8ff;
}
@media only screen and (max-width: 1300px) {
  body {
      width: 1366px;
  }
}